<div class="demo-controls">
    <a href="#" id="set-all-selected">select all</a>
    <a href="#" id="set-all-deselected">deselect all</a>
    <div class="resizer">
        <a href="#" id="resize-map">resize map</a>
        <input type="text" id="resize-map-width"  value="width"  />
    </div>
    <div class="states">
        <div>
            <select name="point-0" index="0" size="27" multiple="multiple">
                <option value="italy">Italy</option>
                <option value="portugal">Portugal</option>
                <option value="spain">Spain</option>
                <option value="france">France</option>
                <option value="belgium">Belgium</option>
                <option value="netherlands">Netherlands</option>
                <option value="luxembourg">Luxembourg</option>
                <option value="ireland">Ireland</option>
                <option value="switzerland">Switzerland</option>
                <option value="turkey">Turkey</option>
                <option value="greece">Greece</option>
                <option value="finland">Finland</option>
                <option value="sweden">Sweden</option>
                <option value="germany">Germany</option>
                <option value="norway">Norway</option>
                <option value="denmark">Denmark</option>
                <option value="poland">Poland</option>
                <option value="bulgaria">Bulgaria</option>
                <option value="romania">Romania</option>
                <option value="slovakia">Slovakia</option>
                <option value="czech-republic">Czech Republic</option>
                <option value="montenegro">Montenegro</option>
                <option value="serbia">Serbia</option>
                <option value="hungary">Hungary</option>
                <option value="austria">Austria</option>
                <option value="slovenia">Slovenia</option>
                <option value="croatia">Croatia</option>
            </select>
        </div>
        <div>
            
        </div>
    </div>
</div>

<br /><br />

<div class="console">
    <div>>></div>
</div>