<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<title>MImageMap</title>
<link href="css/main.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="scripts/main.js"></script>
</head>
<body>
<!--
<area shape="circle" alt="" coords="X-center, Y-center, radius" href="#" />
<area shape="rect" alt="" coords="LT-X, LT-Y, RB-X, RB-Y" href="#" />
<area shape="poly" alt="" coords="X,Y X,Y ... X,Y" href="#" />
-->  
{% block content %}{% endblock %}
</body>
</html>
