
$back-empty:                    image-url('0x0.gif');
$back-image-map-tooltip:        image-url('back-image-map-tooltip.png');
$back-image-map-tooltip-corner: image-url('back-image-map-tooltip-corner.png');

$sprite-1:   image-url('sprite-1.png');
